<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookVault</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Navbar -->
 <%- include("header.ejs") %>    

 <!--Hero section-->
 <header class="hero d-flex align-items-center justify-content-between flex-wrap px-4 py-5">
    <div class="hero-image col-md-5 text-center mb-4 mb-md-0">
        <img src="/images/animatedgirl.png" alt="Girl reading book" class="img-fluid rounded">
      </div>

    <div class="hero-content col-md-6">
      <h1>Looking for your next read?</h1>
      <p>Hi, I'm Rida — a lifelong book lover who’s been hooked on reading since childhood. I created this little space on the internet to showcase my current reads, past favourites and a few thoughts along the way. Dive in and see what's on my shelf!</p>
      <a href="#" id="view-btn" class="btn btn-gradient mt-3">View my library</a>
    </div>
    </header>


 <script src="script.js"></script>
</body>
</html>